.table {
  overflow: hidden;
}

.table1 {
  float: left;    
}
  .mat-column-dato1{
    border: 1px solid;
  }
.table2 {
  float: right;
}
  .mat-column-dato3{
    border: 1px solid;
  }
  .mat-column-dato4 {
    border: 1px solid;
  }
  .mat-column-dato5 {
    border: 1px solid;
  }
  .mat-column-dato6 {
    border: 1px solid;
  }

.cardtable1{
  width: 30%;
  float: left;
}
.cardtable2{
  width: 60%;
  float: right;
}