.encabezado{
  overflow: hidden;
}
.encabezado-etapa{
  float: left;
}
.encabezado-datos{
  float: right;
}
.botonesaformulario { 
  text-align: center;
    overflow: hidden;
}


.footer {
position: absolute;
width: 100%;
height: 70px;
background-color: #3F51B5;
color: white;
text-align: center;
font-weight: 600;
}